.additional-products {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 86px;
  }
}

.additional-products__wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 896px 245px;
    gap: 79px;
  }
}

.additional-products__title {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 80px;
    padding-left: 36px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.additional-products__parameter {
  margin-bottom: 34px;
  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    margin-bottom: 69px;
    border-collapse: collapse;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    border: none;
    margin-bottom: 0;
  }
}

.additional-products__parameter tr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 19px;
  border-top: 1px solid @special-grey;

  @media (min-width: @tablet-width) {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    padding-top: 26px;
    padding-right: 34px;
    padding-bottom: 28px;
    padding-left: 38px;
    border: 1px solid @special-grey;
    border-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 16px;
    border: none;
    border-top: 1px solid @special-grey;
  }
}

.additional-products__parameter tr:last-child {
  border-bottom: 1px solid @special-grey;

  @media (min-width: @desktop-width) {
    border-bottom: 1px solid @special-grey;
  }
}

.additional-products__table-name {
  margin-bottom: 11px;
  padding-top: 13px;
  width: 100%;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: @special_dark-grey-2;
  text-transform: uppercase;

  // border-top: 1px solid @special-grey;

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
    padding: 0;
    width: 50%;
    font-size: 20px;
    line-height: 20px;
    border-top: none;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 36%;
  }
}

.additional-products__table-data {
  margin-bottom: 13px;
  width: 50%;
  font-family: "Arial", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    align-self: flex-end;
    margin-bottom: 22px;
    // padding-bottom: 10px;
    // width: 25%;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: @desktop-width) {
    align-self: center;
    margin: 0;
    padding-top: 7px;
    padding-bottom: 0;
    width: 18%;
  }
}

.additional-products__table-data:nth-child(2) {
  @media (min-width: @tablet-width) {
    width: 35%;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    width: 26%;
    text-align: left;
  }
}

.additional-products__table-data:nth-child(3) {
  text-align: right;

  @media (min-width: @tablet-width) {
    padding-right: 4px;
    width: 15%;
  }

  @media (min-width: @desktop-width) {
    padding-left: 11px;
    width: 10%;
    text-align: left;
  }
}

.additional-products__button {
  padding: 10px 0;
  width: 278px;
  letter-spacing: 1px;

  @media (min-width: @tablet-width) {
    width: 630px;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
  }
}

.additional-products__bonus {
  // display: flex;
  justify-content: center;
  // align-items: flex-end;
  position: relative;
  padding-top: 188px;
  padding-right: 61px;
  padding-bottom: 42px;
  padding-left: 53px;
  min-height: 289px;
  background-image: url("../img/bg-additional-bonus.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: @tablet-width) {
    // flex-direction: column;
    // justify-content: space-around;
    padding-top: 71px;
    padding-right: 100px;
    padding-bottom: 69px;
    padding-left: 423px;
    background-image: url("../img/bg-additional-bonus-tablet.png");
    min-height: 200px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 186px;
    padding-right: 43px;
    padding-left: 36px;
    padding-bottom: 42px;
    min-height: 289px;
    background-image: url("../img/bg-additional-bonus-desktop.png");
  }

  &::before {
    content: "";
    position: absolute;
    top: 64px;
    left: 111px;
    width: 58px;
    height: 62px;
    background-image: url("../img/svg/bonus-box.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      top: 63px;
      left: 89px;
    }

    @media (min-width: @desktop-width) {
      left: 95px;
    }
  }
}

.additional-products__bonus-link {
  width: 171px;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
  text-decoration: none;
  text-align: center;
  display: block;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
  }
}
