.application {
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    margin-bottom: 104px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
  }
}

.application__title {
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
  }
}

.application__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 153px;
    counter-reset: list;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.application__item {
  position: relative;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 60px;
    height: 60px;
    background-color: @basic-green;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      position: absolute;
      top: -35px;
      left: 113px;
      z-index: -1;
      counter-increment: list;
      content: counter(list) " ";
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      line-height: 280px;
      color: @basic-grey;
    }
  }

  &--leaf {
    background-image: url("../img/svg/leaf.svg");
    background-repeat: no-repeat;
    background-position: 18px 16px;
  }

  &--method {
    background-image: url("../../img/svg/method.svg");
    background-repeat: no-repeat;
    background-position: 16px 14px;
  }

  &--serve {
    background-image: url("../../img/svg/serve.svg");
    background-repeat: no-repeat;
    background-position: 17px 14px;
  }

  &--clock {
    background-image: url("../../img/svg/clock.svg");
    background-repeat: no-repeat;
    background-position: 16px 14px;
  }

  @media (min-width: @tablet-width) {
    background-position: 27px 27px;
  }
}

.application__description {
  margin: 0;
  padding-left: 75px;

  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    padding-top: 111px;
    padding-left: 0;
    width: 245px;
    font-size: 16px;
    line-height: 24px;
  }
}
