.heading-primary {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: @basic-black;

  &--m-white {
    color: @basic-white;
    // text-align: center;
  }

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: @basic-black;
    text-align: left;
  }
}
