.icon-copyright path {
  &:hover {
    fill: @basic-green;
  }

  &:active {
    fill-opacity: 0.3;
  }
}

.icon-vk path,
.icon-instagram path {
  &:hover {
    fill: @basic-green;
  }

  &:active {
    fill-opacity: 0.3;
  }
}

.icon-fb path {
  &:hover {
    stroke: @basic-green;
  }

  &:active {
    stroke-opacity: 0.3;
  }
}
