.main-nav {
  position: relative;

  @media (min-width: @desktop-width) {
    text-align: right;
    background: transparent;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -25px;
  right: 20px;
  width: 24px;
  height: 16px;
}

.main-nav__wrapper {
  // display: none;
  // position: absolute;
  z-index: 2;
  background-color: @basic-white;

  @media (min-width: @desktop-width) {
    background: transparent;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    gap: 35px;
  }
}

.main-nav__site-list {
  @media (min-width: @tablet-width) {
    // flex-wrap: wrap;
    // width: 440px;
  }

  @media (min-width: @desktop-width) {
    // width: 480px;
  }
}

.main-nav__item {
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
  border-top: 1px solid @special-grey-2;

  @media (min-width: @tablet-width) {
    padding: 0;
    border: none;
  }
}

.main-nav__item a {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: @basic-black;

  display: block;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: @basic-white;
  }
}

.main-nav__item-inner a {
  @media (min-width: @desktop-width) {
    color: @basic-black;
  }
}
