.page-header {
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    padding-top: 26px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 81px;
    padding-top: 53px;
    min-height: 694px;
    background-image: linear-gradient(
        to right,
        @basic-white 50%,
        transparent 50%,
        transparent
      ),
      url("../img/bg-promo-desktop.png"),
      linear-gradient(to right, @bg-promo-desktop, @bg-promo-desktop);

    background-position: 0 0, right -2px, 0 -1px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          @basic-white 100%,
          transparent 100%,
          transparent
        ),
        url("../img/bg-promo-desktop@2x.png"),
        linear-gradient(to right, @bg-promo-desktop, @bg-promo-desktop);
      background-size: 720px 695px;
    }
  }

  &--inner-form {
    margin-bottom: 28px;

    @media (min-width: @tablet-width) {
      margin-bottom: 59px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 72px;
      min-height: 0;
      background: @basic-white;
    }
  }

  &--inner-form::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: @spesial-grey-3;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.page-header__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
  }

  &--desktop {
    @media (min-width: @desktop-width) {
      margin-bottom: 107px;
    }
  }
}

.page-header__logo {
  padding-top: 10px;
  // padding-right: 65px;
  margin-right: 65px;
  padding-bottom: 13px;
  padding-left: 18px;

  @media (min-width: @tablet-width) {
    // padding-right: 95px;
    margin-right: 95px;
    padding: 0;
  }
}

.page-header__logo img {
  width: 191px;
  height: 38px;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
  }
}
