.page-footer {
  background-color: @basic-grey;
}

.page-footer__wrapper {
  padding-top: 39px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 61px;
  }
}

.page-footer__col-1 {
  padding-bottom: 32px;
  text-align: center;
  border-bottom: 1px solid @spesial-grey-3;

  @media (min-width: @tablet-width) {
    padding: 0;
    text-align: left;
    border: none;
  }
}

.page-footer__col-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
    gap: 22px;
    padding: 0;
  }
}
