.product__title {
  text-decoration: none;

  &--width h3 {
    width: 76px;
  }

  &--all {
    text-align: center;
  }
}

.product__title h3 {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: @special_dark-grey-2;
  text-transform: uppercase;
}

.product__parameters {
  font-size: 12px;
  line-height: 16px;
  color: @special_dark-grey;

  &--all {
    text-align: center;
  }
}

.product__button {
  margin-bottom: 14px;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
}

.product__button--all {
  background-color: @basic-grey;
  color: @special_dark-grey;
}
