.result {
  padding-top: 27px;
  padding-bottom: 36px;
  background-color: @special-grey-4;

  @media (min-width: @tablet-width) {
    padding-top: 43px;
    background: linear-gradient(
      to bottom,
      @basic-white 623px,
      @special-grey-4 623px,
      @special-grey-4
    );
    border-top: 1px solid @special-grey-2;
  }

  @media (min-width: @desktop-width) {
    // background: linear-gradient(
    //   to bottom,
    //   @basic-white 194px,
    //   @basic-grey 194px,
    //   @basic-grey
    // );

    background: linear-gradient(
        to bottom,
        @basic-white 194px,
        transparent 194px,
        transparent
      ),
      linear-gradient(
        to right,
        @basic-grey 50%,
        @special-grey-4 50%,
        @special-grey-4
      );
    border: none;
  }
}

.result__wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // padding-top: 58px;
  }
}

.result__wrapper-list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    width: 436px;
  }
}

.result__title {
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 146px;
  }
}

.result__description {
  margin: 0;
  margin-bottom: 25px;

  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
    width: 436px;
  }
}

.result__list {
  display: flex;
  gap: 31px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    gap: 42px;
  }
}

.result__item {
  position: relative;
  margin-bottom: 26px;

  width: 124px;
  min-height: 60px;
  border: 1px solid @special-grey;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    width: 162px;
    height: 77px;
  }
}

.result__item-info {
  margin: 0;
  padding-top: 14px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.result__item-info-caption {
  position: absolute;
  top: 53px;
  left: 18px;
  width: 87px;
  margin: 0;

  font-size: 12px;
  line-height: 12px;
  color: @special_dark-grey;
  text-transform: lowercase;
  text-align: center;
  background-color: @special-grey-4;

  @media (min-width: @tablet-width) {
    top: 66px;
    width: 127px;
    font-size: 14px;
    line-height: 14px;
    background-color: @basic-white;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    background-color: @basic-grey;
  }
}

.result__total {
  margin-bottom: 42px;

  font-family: "Oswald", "Arial", sans-serif;
}

.result__total-text {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 327px;
  }
}

.result__image-box {
  @media (min-width: @desktop-width) {
    height: calc(100% + 90px);
    background: linear-gradient(
      to bottom,
      @basic-white 151px,
      @basic-grey 151px,
      @basic-grey
    );
  }
}

.result__image {
  position: relative;
  margin: 0 auto;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    height: 520px;
  }

  @media (min-width: @desktop-width) {
    right: 50px;
  }
}

// .result__image-wrapper {
//   @media (min-width: @tablet-width) {
//   }
// }

.result__image-wrapper img {
  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    max-width: none;
  }
}

.result__image-before {
  position: relative;

  @media (max-width: @mobile-width-only) {
    width: 311px;
    height: 100%;
    z-index: 1;
  }

  &--none {
    z-index: -1;
    //result__image-before--none для js mobile
  }

  @media (min-width: @tablet-width) {
    left: 32px;
    height: 100%;
  }

  @media (min-width: @desktop-width) {
    left: 8px;
  }
}

.result__image-before img {
  @media (min-width: @tablet-width) {
    width: 677px;
    height: 520px;
  }
}

.result__image-after {
  @media (min-width: @tablet-width) {
    position: absolute;
    z-index: 0;
    top: 0;
    right: -30px;
    width: 50%;
    height: calc(100% + 90px);
    overflow: visible;
    background: linear-gradient(
      to bottom,
      @basic-white 151px,
      @special-grey-4 151px,
      @special-grey-4
    );
  }

  @media (min-width: @desktop-width) {
    right: -58px;
  }
}

.result__image-after img {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    right: 70px;
    width: 545px;
    height: 520px;
  }

  @media (min-width: @desktop-width) {
    right: 45px;
  }
}

.result__image-wrapper-after {
  @media (max-width: @mobile-width-only) {
    position: absolute;
    top: 0;
    left: 40px;
    width: 251px;

    &--full {
      z-index: 2;
      //result__image-after--full для js mobile
    }
  }

  @media (min-width: @tablet-width) {
    position: relative;
    overflow: hidden;
    height: 100%;
  }
}

.result__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  position: relative;
  margin: 0 auto;
  // width: 288px;

  @media (min-width: @tablet-width) {
    justify-content: center;
    gap: 30px;
    padding-left: 22px;
    // padding-right: 22px;
    // width: 571px;
  }
}

.result__toggle-before,
.result__toggle-after {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: @special-grey-4;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 29px;
    background-color: transparent;
    border-bottom: 2px dotted @radio-checkbox-hover;
  }
}

.result__range {
  width: 84px;
  height: 14px;
  border-radius: 6px;
  appearance: none;

  &::-webkit-slider-runnable-track {
    padding: 3px 6px;
    border-radius: 6px;
    border: 1px solid @special-grey;
    background-color: @basic-white;
  }

  &::-webkit-slider-thumb {
    background: @basic-green;
    border-radius: 6px;
    cursor: pointer;
    width: 35px;
    height: 6px;
    appearance: none;
  }

  &::-moz-range-track {
    padding: 5px;
    border-radius: 6px;
    border: 1px solid @special-grey;
    background-color: @basic-white;
  }

  &::-moz-range-thumb {
    background: @basic-green;
    border-radius: 6px;
    cursor: pointer;
    width: 35px;
    height: 6px;
    border-color: transparent;
  }

  @media (min-width: @tablet-width) {
    width: 428px;
    height: 6px;

    &::-webkit-slider-runnable-track {
      // padding: 0;
      height: 6px;
      background-color: @range-track;
      border: none;
    }

    &::-webkit-slider-thumb {
      margin-top: -17px;
      width: 33px;
      height: 33px;
      background: @basic-green;
      border-radius: 50%;
      border: 12px solid @basic-white;
      box-shadow: 0 0 0 1px @special-grey, 0 2px 3px 1px @special-grey;
      cursor: pointer;
      appearance: none;
    }

    &::-moz-range-track {
      height: 1px;
      background-color: @range-track;
      border: none;
    }

    &::-moz-range-thumb {
      margin-top: -17px;
      width: 10px;
      height: 10px;
      background: @basic-green;
      border-radius: 50%;
      border: 12px solid @basic-white;
      box-shadow: 0 0 0 1px @special-grey, 0 2px 3px 1px @special-grey;
      cursor: pointer;
    }
  }
}
