.select-programm {
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.select-programm__wrapper {
  padding-top: 30px;
  padding-bottom: 22px;
  width: 280px;
  background-color: @basic-grey;
}

.select-programm__title {
  margin: 0;
  margin-bottom: 29px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
}

.select-programm__description {
  margin: 0;
  margin-bottom: 38px;
  padding-left: 20px;
  width: 227px;

  color: @special_dark-grey;
}

.select-programm__link {
  display: block;
  padding-left: 19px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: @basic-black;

  text-transform: uppercase;
  text-decoration: none;
}
