.social__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 34px;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 16px;

  text-align: center;
  list-style: none;
  border-bottom: 1px solid @spesial-grey-3;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    gap: 24px;
    padding: 0;
    width: 130px;
    border: none;
  }
}

.social__item {
  &--vkontakte {
    align-self: center;
  }

  &--instagram {
    align-self: center;
  }
}

.social__link {
  &--vkontakte svg {
    @media (min-width: @tablet-width) {
      width: 30px;
      height: 22px;
    }
  }

  &--instagram svg {
    @media (min-width: @tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--facebook svg {
    @media (min-width: @tablet-width) {
      width: 28px;
      height: 33px;
    }
  }
}
