body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


// .container {
//   margin: 0 auto;
//   padding: 0 20px;
// }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: @basic-white;
  background-color: @basic-green;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;
}

.heading-primary {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: @basic-black;
}
